<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <title th:text="${message}">Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.1.1-1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/sockjs-client/1.0.2/sockjs.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/stomp-websocket/2.3.3/stomp.min.js}"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
<!--    <script type="text/javascript" th:inline="javascript" th:src="@{/WEB-INF/resources/app.js}"></script>-->
</head>
<body>
    <div class="row">
        <button style="margin-left: 30px" id="connect">Connect</button>
        <button id="disconnect">Disconnect</button>
    </div>
    <div class="row">
        <div class="col-3">
            <h1>Welcome to the RPG</h1>
            <h2 class="status"></h2>
            <input type="text" name="name" id="name">
            <br>
            <input type="text" name="level" id="level">
            <br>
            <input type="text" name="status" id="status">
            <br>
            <button id="submit">Submit</button>
        </div>
        <div class="col-9">
            <span style="display: inline-block" th:each="row : ${map}" class="tile">
                <span th:each="col : ${row}" th:class="(${col} == '1') ? 'wall': 'space'">0</span>
            </span>
        </div>
    </div>
    <!--/*@thymesVar id="map" type="java.util.List"*/-->
</body>
</html>

<style>
    .wall {
        padding: 2px;
        width: 5px;
        color: black;
        background-color: black;
    }
    .space {
        color: green;
        padding: 2px;
        width: 5px;
        background-color: green;
    }
</style>

<script>
    let stompClient = null;

    function setConnected(connected) {
        $("#connect").prop('disabled', connected);
        $("#disconnect").prop('disabled', !connected);
        if (!connected)
            $(".status").html("Not connected");
        else
            $(".status").html("");
    }

    function connect() {
        let socket = new SockJS('/gs-guide-websocket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, (frame) => {
            setConnected(true);
            console.log('Connected: ', frame);
            stompClient.subscribe('/player/status', (status) => {
                showStatus(JSON.parse(status.body).content);
            })
        })
    }

    function disconnect() {
        if (stompClient !== null)
            stompClient.disconnect();
        setConnected(false);
        console.log('Disconnected');
    }

    function sendStatus() {
        stompClient.send('/app/status', {}, JSON.stringify({
            'name': $("#name").val(),
            'level': $("#level").val(),
            'status': $("#status").val()
        }));
    }

    function showStatus(status) {
        $('.status').html(status);
    }

    $(() => {
        setConnected(false);
        $("#connect").click(() => connect());
        $("#disconnect").click(() => disconnect());
        $("#submit").click(() => sendStatus());
    });
</script>