<!DOCTYPE html>
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <title th:text="${message}">Title</title>
</head>
<body>
    <h1>Welcome to the RPG</h1>
    <!--/*@thymesVar id="map" type="java.util.List"*/-->
    <span style="display: inline-block" th:each="row : ${map}" class="tile">
        <span th:each="col : ${row}" th:class="(${col} == '1') ? 'wall': 'space'">0</span>
    </span>
</body>
</html>

<style>
    .wall {
        padding: 2px;
        width: 5px;
        background-color: black;
    }
    .space {
        color: green;
        padding: 2px;
        width: 5px;
        background-color: green;
    }
</style>